<ng-container *ngIf="state$ | async as state">
  <!-- TODO Реализовать директиву для отображения состояния загрузки (интерфейс LoadableData) -->
  <div *ngIf="!state.paginatedData.length; else data">
    <h4>You haven't added any bookmark yet</h4>
  </div>
  <!-- TODO Реализовать отображение списка загруженных данных -->
  <!-- TODO Реализовать функцию добавления/исключения в закладки каждого элемента списка -->
  <ng-template #data>
    <div class="bookmark-container">
      <div *ngFor="let post of state.paginatedData" class="bookmark-box">
        <div class="bookmark-box__header">
          <button (click)="removeBookmark(post)">Remove from collection</button>
          <h2>{{ post.title }}</h2>
        </div>
        <p>{{ post.body }}</p>
      </div>
      <!-- TODO Реализовать кнопку с функцией загрузить еще -->
      <button (click)="loadMore()" class="bookmark__load-button">
        Load more
      </button>
    </div>
  </ng-template>
</ng-container>
