<ng-container *ngIf="state$ | async as state">
  <!-- TODO Реализовать директиву для отображения состояния загрузки (интерфейс LoadableData) -->
  <div *ngIf="state.state === LoadingState.loading; else data">Loading...</div>
  <!-- TODO Реализовать отображение списка загруженных данных -->
  <!-- TODO Реализовать функцию добавления/исключения в закладки каждого элемента списка -->
  <ng-template #data>
    <div class="post-container">
      <div *ngFor="let post of state.paginatedData" class="post-box">
        <div class="post-box__header">
          <button (click)="addToCollection(post)">
            Add to bookmarks collection
          </button>
          <h2>{{ post.title }}</h2>
        </div>
        <p>{{ post.body }}</p>
      </div>
      <!-- TODO Реализовать кнопку с функцией загрузить еще -->
      <button
        *ngIf="state.paginatedData.length"
        (click)="loadMore()"
        class="search__load-button"
      >
        Load more
      </button>
    </div>
  </ng-template>
</ng-container>
